.idea/*
/web/bundles/
!/web/bundles/guestbook/*
!/web/bundles/guestbook/js/vendor/jquery.form.js
/web/uploads/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/
/composer.phar