label.left {
    margin-right:4px;
}
.author-details {
    text-align: center;
}
.publicDate {
    text-align: center;
    padding: 2px 2px 0 2px;
    border-radius: 2px;
}
.publicDate p {
    font-size: 14px;
}

.publicDate p:before {
    content: '⌚';
}

div.entry {
    background: rgb(243, 245, 253);
    box-shadow: 0 0 0 1px rgb(240, 240, 240);
    padding: 6px;
    -webkit-transition: all 1s;-moz-transition: all 1s;-ms-transition: all 1s;-o-transition: all 1s;transition: all 1s;
}

div.entry .guest-post {
    line-height: 1.6;
    margin-bottom: 1.25rem;
}

div.entry .guest-message {
    display: block;
    border-top: 1px dashed #6f6f6f;
    padding-top: 5px;
    word-wrap: break-word;
}

div.entry .guest-name {
    font-weight: bold;
    text-transform: capitalize;
    word-wrap: break-word;
}

div.entry .guest-post-id {
    font-size: 12px;
}

.reply-button {
    padding: 2px;
}

.reply-button:before {
    content: '✍';
    font-size: 12px;
}

.reply-block {
    display: none;
    margin: 5px 0 5px 0;
}

#reply-name {
    font-weight: bold;
}

#form_captcha {
    display: inline;
    position: relative;
    width: 20%;
    margin-left: 10px;
    height: 50px;
    top: 4px;
    font-size: 24px;
}

img.captcha {
    border-radius: 2px;
    cursor: pointer;
}

.required:after {
    content: ' *';
}

.validation, .required:after {
    color: red;
}

