<div class="large-centered large-8 medium-centered medium-8 push-4">
    <ul class="pagination" role="menubar" aria-label="Pagination">
        <li class="arrow unavailable" aria-disabled="true"><a href="">&laquo; Previous</a></li>
        {% for i in 1..pagination.pagesCount %}
            <li {% if i == pagination.currentPage %}class="current"{% endif %}>
                <a href="?page={{ i }}{% if pagination.perPage != 10 %}&limit={{ pagination.perPage }}{% endif %}">
                    {{ i }}
                </a>
            </li>
        {% endfor %}
        {#<li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>#}
        <li class="arrow"><a href="">Next &raquo;</a></li>
    </ul>
</div>